.container-flex{
    border: solid 2px green;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: stretch; */
    align-content: space-between;
}

.container-flex div{
    border: solid 1px blueviolet;
    box-sizing: border-box;
    width: 150px;
    height: 100px;
    padding: 20px;
    background-color: aqua; 
}

.container{
    border: solid 2px green;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
}

.container div {
    border: solid 1px blueviolet;
    box-sizing: border-box;
    width: 150px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
    float: left;
    overflow: hidden;
}

.span-1{
    color: red;
    font-weight: bold;
    font-size: 2em;
    /* display: none; */
    visibility: hidden;
}