.form-1{
    border: solid 2px green;
    width: 40%;
    min-height: 50px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px auto;
    cursor:crosshair;
}

.input-1{
    background-color: aqua;
    border: 0px;
    border-bottom: solid 3px red;
    border-bottom-left-radius: 10px;
    padding: 4px;
}

.input-1:focus{
    background-color: bisque;
    outline: none;
}

.button-1{
    border:0px;
    padding: 6px;
    cursor: pointer;
}

.button-1:hover{
    background-color: aquamarine;
}